<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bs.program.dao.publishCourseDao">

    <resultMap id="scc" type="java.util.HashMap">
        <result column="id" property="id" javaType="String"/>
        <result column="courseId" property="courseId" javaType="String"/>
        <result column="teacherId" property="teacherId" javaType="String"/>
    </resultMap>
    <parameterMap id="incc" type="java.util.HashMap">
        <parameter property="id" javaType="String"/>
        <parameter property="classroomId" javaType="Integer"/>
    </parameterMap>


    <!--查询要添加的课程-->
    <select id="selectOldCourse" resultType="bs.program.bean.Course">
        select * from course
    </select>
    <!--查询教室-->
    <select id="selectOldClassesroom" resultType="bs.program.bean.classesroom">
        select * from classroom WHERE state=0
    </select>
    <!--查询教师-->
    <select id="selectOldTeacher" resultType="bs.program.bean.User">
        SELECT
            *
        FROM
            User_Role ur
        LEFT JOIN
            users u
        ON
            ur.userId=u.id
        WHERE
            ur.roleId = '3'
    </select>

    <insert id="insertCourseClassroom" parameterMap="incc">
        INSERT INTO
            course_classesroom (courseId,classroomId)
        VALUES
            (#{id},#{classroomId});
    </insert>

    <insert id="insertCourseTeacher" parameterType="String">
        INSERT INTO
            teacher_course (teacherId,courseId)
        VALUES
            (#{teacherId},#{id});
    </insert>

    <update id="updateCourseState" parameterType="String">
      UPDATE
          course
      SET
          state = 1
      WHERE
          id = #{id};
    </update>

    <select id="selectSingleCourse" parameterType="String" resultMap="scc">
        SELECT
          c.id,
          cc.classroomId,
	      tc.teacherId
        FROM
          course c
        LEFT JOIN
          course_classesroom cc
	    ON
	      c.id=cc.courseId
	    LEFT JOIN
	      teacher_course tc
	    ON
	      c.id=tc.courseId
	    WHERE
           c.id=#{id};
    </select>

    <select id="selectAlReadyPublishCourse" resultType="bs.program.bean.Course">
        SELECT * from course WHERE state=1
    </select>
</mapper>